*{
  margin:0;
}
#sbar{
  position:fixed;
  width:30px;
  height:30px;
  font-size:24px;
  z-index:999;
  left:0;
  top:0;
}
#links{
  position:fixed;
  left:0;
  top:0;
  overflow:hidden;
  width:100px;
  height:100vh;
  background:#1d1d1d;
}
#links a{
  display:block;
  color:white;
  font-size:14px;
  padding:0 0 20px;
}
